torch>=1.5,<=1.10
hydra-core==1.0.6
tensorboard==2.4.1
matplotlib==3.4.1
transformers==3.4.0
jieba==0.42.1
scikit-learn==0.24.1
pytorch-transformers==1.2.0
seqeval==1.2.2
tqdm==4.60.0
opt-einsum==3.3.0
wandb==0.12.7
ujson==5.6.0
huggingface_hub==0.2.1
tensorboardX==2.5.1
nltk==3.8
protobuf==3.20.1
numpy==1.18.5
ipdb==0.13.11
pytorch-crf==0.7.2
