torch>=1.5,<=1.10
hydra-core==1.0.6
tensorboard==2.4.1
matplotlib==3.4.1
transformers==3.4.0
jieba==0.42.1
scikit-learn==0.24.1
pytorch-transformers==1.2.0
seqeval==1.2.2
tqdm==4.60.0
opt-einsum==3.3.0
wandb==0.12.7
ujson
huggingface_hub==0.2.1