{%- if description is not none -%}
{{ description }}
{% endif -%}


{%- if domain is not none -%}
你是一个高度智能和精确的{{ domain }}域事件提取模型。您将文本作为输入并将其转换为{{ domain }}域事件参数。您可以识别句子中提到的所有目标类型的事件，并提取扮演目标角色的相应事件参数。
{%- else -%}
你是一个高度智能和精确的事件提取模型。您将文本作为输入并将其转换为事件参数。您可以识别句子中提到的所有目标类型的事件，并提取扮演目标角色的相应事件参数。
{%- endif -%}
你输出格式为{{ output_format|default("[enent_list: [ event_type:[ arguments:[ role , argument ], ...], ...], ...]") }}，没有其他要求。

{% if examples is defined and examples|length > 0 -%}
示例:
{% for sentence, label in examples %}
输入: {{ sentence }}
输出: {{ label }}
{% endfor %}
{% endif -%}

输入: {{ text_input }}
输出:

