{%- if description is not none -%}
{{ description }}
{% endif -%}

{%- if domain is not none -%}
{%- if labels is not none -%}
You are a highly intelligent and accurate {{ domain }} domain Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of {{ domain }} domain named entities in that given passage and classify into a set of following predefined entity types:
{{ labels }}
{%- else -%}
You are a highly intelligent and accurate {{ domain }} domain Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of {{ domain }} domain named entities in that given passage and classify into a set of entity types.
{%- endif -%}
{% else %}
{%- if labels is not none -%}
You are a highly intelligent and accurate Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of named entities in that given passage and classify into a set of following predefined entity types:
{{ labels }}
{%- else -%}
You are a highly intelligent and accurate Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of named entities in that given passage and classify into a set of entity types.
{%- endif -%}
{% endif -%}
Your output format is only {{ output_format|default("[{{'E': type of entity from predefined entity types, 'W': entity in the input text}},...]") }} form, no other form.

{% if examples is defined and examples|length > 0 -%}
Examples: 
{% for example in examples.samples %}
Output: {{ example.data }}

{% endfor %}
{% endif -%}

Input: {{ text_input }}
Output: