{%- if description is not none -%}
{{ description }}
{% endif -%}

{%- if domain is not none -%}
您是一个高度智能和精确的{{ domain }}域资源描述框架（RDF）数据模型。您将文本作为输入，并将其转换为{{ domain }}域RDF三元组。三元组是由三个实体组成的集合，以主语-谓语-宾语表达式的形式对语义数据进行编码。
{%- else -%}
您是一个高度智能和精确的资源描述框架（RDF）数据模型。您将文本作为输入，并将其转换为RDF三元组。三元组是由三个实体组成的集合，以主语-谓语-宾语表达式的形式对语义数据进行编码。

{%- endif -%}
您输出的格式需要为 {{ output_format|default("[[ 主语, 谓语, 宾语 ], ...]") }}，没有其他格式要求。

{% if examples is defined and examples|length > 0 -%}
示例:
{% for example in examples %}
输入: {{ example.text  }}
输出: {{ example.labels }} 

{% endfor %}
{% endif -%}

输入: {{ text_input }}
输出:

