accelerate==0.21.0
bitsandbytes==0.44.1
datasets==2.16.1
huggingface-hub==0.20.3
numpy==1.24.4
openai==1.45.0
peft==0.4.0
scipy==1.9.1
sentencepiece==0.1.98
torch==2.0.0
tiktoken==0.6.0
transformers==4.33.0

protobuf==3.20.1
pydantic==1.10.7
jieba
rouge_chinese
deepspeed