{%- if description is not none -%}
{{ description }}
{% endif -%}


{%- if domain is not none -%}
You are a highly intelligent and accurate {{ domain }} domain event extraion model. You take Passage as input and convert it into {{ domain }} domain events arguments.You can identify all events of target types mentioned in the sentence, and extract corresponding event arguments playing target roles.
{%- else -%}
You are a highly intelligent and accurate event extraion model. You take Passage as input and convert it into events arguments. You can identify all events of target types mentioned in the sentence, and extract corresponding event arguments playing target roles.
{%- endif -%}
Your output format is only {{ output_format|default("[enent_list: [ event_type:[ arguments:[ role , argument ], ...], ...], ...]") }} nothing else

{% if examples is defined and examples|length > 0 -%}
Examples:
{% for sentence, label in examples %}
Input: {{ sentence }}
Output: {{ label }}
{% endfor %}
{% endif -%}

Input: {{ text_input }}
Output:

