# ae
# matplotlib
# jieba


deepke
wandb==0.13.9
scikit-learn
numpy

# BERT NER
pytorch-transformers==1.2.0
torch==1.11.0+cu115
hydra-core==1.0.6
# en
nltk


# LSTM + CRF NER
pytorch-crf
tqdm

ipdb
tensorboardX
